In [1]:
from wsgiref.util import setup_testing_defaults
from sqlalchemy import true
from selenium.webdriver import Chrome
from importlib.resources import contents
from itertools import count
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
from distutils.filelist import findall
from selenium.webdriver.chrome.service import Service
import requests as req

C:\Users\TazkiaAp\AppData\Local\Temp\ipykernel_3676\4195259474.py:12: DeprecationWarning: The distutils package is deprecated and slated for removal in Python 3.12. Use setuptools or check PEP 632 for potential alternatives
  from distutils.filelist import findall

In [2]:
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument('--ignore-certificate-errors-spki-list')
options.add_argument('--ignore-ssl-errors')
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), chrome_options=options)

C:\Users\TazkiaAp\AppData\Local\Temp\ipykernel_3676\2567649721.py:5: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), chrome_options=options)

In [3]:
url = "https://api.bukalapak.com/phone-credits/prepaid-products"
driver.get(url)

In [4]:
from typing import List


list_no, list_op,list_nominal,list_harga, list_dis, list_cat, list_normal, list_namaop=[],[],[], [], [],[],[],[]
count = 0
for page in range(1, 2):
    parameter = {
        "method": 'GET',
        "limit":"50",
        "page" : page,
        "category": "topup",
        "group": "agent",
        "access_token": "we8BY7LLZIbLs-_NOSh31CWQ4DpqVJcLWpkkzKQg5jIETA"
    }

    resp = req.get(url, params=parameter).json()

    products = resp['data']
    for p in products:
        op = p['name']
        nominal = p['nominal']
        harga = p['partner_package']['package']['price']
        diskon = p['partner_package']['package']['discount']
        cat = p['category']
        normal = p['partner_package']['package']['normal_price']
        namaop = p['operator']['name']
        

       
        count+=1
        list_no.append(count)
        list_op.append(op)
        list_nominal.append(nominal)
        list_harga.append(harga)
        list_cat.append(cat)
        list_dis.append(diskon)
        list_normal.append(normal)
        list_namaop.append(namaop)
        

    df = pd.DataFrame({'no':list_no, 'nama_operator':list_namaop,'operator':list_op, 'nominal':list_nominal,'diskon':list_dis,  'harga_normal':list_normal, 'harga_jual':list_harga, 'kategori':list_cat})   
    writer = pd.ExcelWriter('PULSA_TGL26.xlsx')
    df.to_excel(writer,'Sheet1',index=False)
    writer.save() #menyimpan hasil dari dataframe excel
    print(df)

    no nama_operator             operator  nominal  diskon  harga_normal  \
0    1     Smartfren      Smartfren 5.000     5000       0          5400
1    2          Axis           Axis 5.000     5000       0          5998
2    3            XL             XL 5.000     5000       0          5998
3    4     Telkomsel      Telkomsel 5.000     5000       0          5990
4    5     Smartfren     Smartfren 10.000    10000       0         10250
..  ..           ...                  ...      ...     ...           ...
65  66            XL           XL 500.000   500000       0        503400
66  67          Axis         Axis 500.000   500000       0        503400
67  68     Telkomsel  Telkomsel 1.000.000  1000000       0        997550
68  69            XL         XL 1.000.000  1000000       0        999830
69  70          Axis       Axis 1.000.000  1000000       0        999730

    harga_jual kategori
0         5400    topup
1         5998    topup
2         5998    topup
3         5990    topup
4        10250    topup
..         ...      ...
65      503400    topup
66      503400    topup
67      997550    topup
68      999830    topup
69      999730    topup

[70 rows x 8 columns]

In [5]:
strnamaop = df['nama_operator'].str.lower()
df

,no,nama_operator,operator,nominal,diskon,harga_normal,harga_jual,kategori
0,1,Smartfren,Smartfren 5.000,5000,0,5400,5400,topup
1,2,Axis,Axis 5.000,5000,0,5998,5998,topup
2,3,XL,XL 5.000,5000,0,5998,5998,topup
3,4,Telkomsel,Telkomsel 5.000,5000,0,5990,5990,topup
4,5,Smartfren,Smartfren 10.000,10000,0,10250,10250,topup
...,...,...,...,...,...,...,...,...
65,66,XL,XL 500.000,500000,0,503400,503400,topup
66,67,Axis,Axis 500.000,500000,0,503400,503400,topup
67,68,Telkomsel,Telkomsel 1.000.000,1000000,0,997550,997550,topup
68,69,XL,XL 1.000.000,1000000,0,999830,999830,topup
69,70,Axis,Axis 1.000.000,1000000,0,999730,999730,topup

In [6]:
df = pd.DataFrame({'no':list_no, 'nama_operator':strnamaop, 'nominal':list_nominal, 'diskon':list_dis,  'harga_normal':list_normal, 'harga_jual':list_harga,})   
writer = pd.ExcelWriter('PULSA_TGL26.xlsx')
df.to_excel(writer,'Sheet1',index=False)
writer.save() #menyimpan hasil dari dataframe excel
print(df)

    no nama_operator  nominal  diskon  harga_normal  harga_jual
0    1     smartfren     5000       0          5400        5400
1    2          axis     5000       0          5998        5998
2    3            xl     5000       0          5998        5998
3    4     telkomsel     5000       0          5990        5990
4    5     smartfren    10000       0         10250       10250
..  ..           ...      ...     ...           ...         ...
65  66            xl   500000       0        503400      503400
66  67          axis   500000       0        503400      503400
67  68     telkomsel  1000000       0        997550      997550
68  69            xl  1000000       0        999830      999830
69  70          axis  1000000       0        999730      999730

[70 rows x 6 columns]